
<%= form_for @picnic, :html => {:multipart => true} do |f| %>
  <% if @picnic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picnic.errors.count, "error") %> prohibited this picnic from being saved:</h2>

      <ul>
      <% @picnic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %></br>
  <%= f.text_field :name %></br>
  
  <%= f.label :date %></br>
  <%= f.text_field :date %></br>
  
  <%= f.label :description %></br>
  <%= f.text_field :description %></br>

  <%= f.label :image %></br>
  <%= f.file_field :image %></br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
