<%= image_tag "picnic_food.jpg", class: "stretchimage" %>

<div class="container">

<h1 class="next_picnic">Next Picnic</h1>
<hr class="h_rule">  
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 center">
    <h2><%= @next_picnic.name %></h2>
    <%= image_tag @next_picnic.image %>
    <p class="about_description"><%= @next_picnic.description %></p>
    </div>
    <hr class="h_rule">
</div>
<h1 class="next_picnic">Coming Up!</h1>
<hr class="h_rule"> 
<div class="row">
  <% @future_picnics.in_groups_of(2) do |picnics| %>
    <div class="col-sm-3-offset">
    <% picnics.each do |picnic| %>
      <div class="col-sm-6 center">
        <h3><%= picnic.name %></h3>
        <%= image_tag picnic.image, size: 10 %>
        <p class="about_description"><%= picnic.description %></p>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
    <hr class="h_rule">
</div>

 