<p id="notice"><%= notice %></p>



  <h1><%= @picnic.name %></h1>
  <p><%= @picnic.description %></p>
  <p>This Picnic is hosted by: <%= @picnic.host.first_name %></p>
  
  <% if user_signed_in? && @picnic.users.include?(current_user) %>
     <h2>Looking forward to seeing you!</h2>
  <% elsif  user_signed_in? %>
    <%= render 'shared/invite_form.html.erb' %>
  <% else %>
  
    <p> Log in to RSVP.</p>
  
  <% end %>
  <h3>Guests: </h3>
 

 
  <% @picnic.users.each do |u|  %>
    <p><%= u.first_name %> is bringing <%= u.invites.find_by(picnic_id: @picnic.id).food %>.</p>
  <% end %> 
  
  
<% if current_user == @picnic.host %>
  <%= link_to 'Edit', edit_picnic_path(@picnic) %> |
<% end %>
<%= link_to 'See All Picnics', picnics_path %>
