.container
  .col-md-4.col-md-offset-4
    %h1 Edit your RSVP
    = form_for @invite, :html => {:multipart => true} do |f|
      - if @invite.errors.any?
        #error_explanation
          %h2
            = pluralize(@picnic.errors.count, "error")
            prohibited this picnic from being saved:
          %ul
            - @invite.errors.full_messages.each do |message|
              %li= message
      = f.label :food, "What will you be bringing?"
      = f.text_field :food, class: "form-field"
      .actions
        = f.submit "Submit", class: "perfect-red-button"
    = link_to 'Back', @picnic
