<%= image_tag "picnic_food.jpg", class: "stretchimage" %>

<div class="container">

<h1 class="next_picnic">Let's Have A Picnic</h1>
<hr class="h_rule">  
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 center">
    <p class="about_description">When the weather is good in New York City, there is nothing I like to 
    do more than have a picnic. The best part about a picnic is you never run 
    out of room; everyone is welcome! I created this site to make sure that anyone
    who is interested can see when the next picnic is and what everyone is 
    bringing.</p>
    </div>
  </div>
  <div class="row three_cols">
    <h1 class="next_picnic">Picnics and more...</h1>
    <hr class="h_rule"> 
    <div class="col-sm-4">
      
      <% if @picnic %>
      <h3><%= link_to 'Next Picnic: ' + @picnic.name, picnic_path(@picnic) %></h3>
      <% else %>
        <h3>Next Picnic</h3>
      <% end %>
      
      <%= image_tag 'girls_picnics.jpg', width: '10' %>  
      <% if @picnic %>
        <p><%= simple_format(truncate(@picnic.description, length: 150)) %></p>
        <div class="center">
        <%= link_to "RSVP", picnic_path(@picnic), class: "btn perfect-red-button col-btn-1" %>
        </div>
      <% else %>
  
 
        <p>There are no upcoming picnics currently scheduled. Enter your email below
        and we'll email you about the next one.</p>
        <div class="center">    
        <%= form_for Subscription.new do |f| %>
           <%= f.text_field :email, :placeholder => "enter email", class: "subscribe-field"%>
           <%= f.submit "Let Me Know", class: "col-btn btn perfect-red-button" %>
        <% end %>
        </div>
      <% end %>
    </div>
 
    <div class="col-sm-4">
      <h3><%= link_to 'Photos', photo_galleries_path %></h3>
      <%= image_tag "picnic_guitar.jpg", width: '10' %>  
      <p>Check out these photos from past picnics.</p>
        
      <p> Attended a picnic? Share 
      your photos with everyone by uploading them.</p>
      <div class="center">
        <%= link_to "See Photos", photo_galleries_path, class: "col-btn col-btn-2 btn perfect-red-button" %>
      </div>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to "Calender", calendar_path %></h3>
      <%= image_tag "picnic_portrait.jpg", width: '10' %>  
      <p>If you can't make the next picnic, check out this calendar of when
      and where the next few picnics will be taking place. Its a great way to
      get outside, make friends and eat good food.</p>
      <div class="center">
        <%= link_to "See Calendar", calendar_path, class: "btn perfect-red-button col-btn col-btn-3" %>
      </div>
    </div>
  </div>
  <% if @picnic %>
    <hr class="h_rule"> 
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 center">
       <h2>The next picnic is in <%= distance_of_time_in_words_to_now(@picnic.date) %>.</h2>
          <%= link_to "RSVP", picnic_path(@picnic), class: "btn perfect-red-button" %>
      </div>
    </div>
  <% end %>
</div>
