    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">    
      <div id="calendar">
 
          <h2 class="center" id="month">
            <%= link_to "<", date: @date.prev_month %>
            <%= @date.strftime("%B %Y") %>
            <%= link_to ">", date: @date.next_month %>
          </h2>
          <%= calendar @date do |date| %>
            <%= date.day %>
            <% if @picnics_by_date[date] %>
                <% @picnics_by_date[date].each do |picnic| %>
                  <h5><%= link_to picnic.name, picnic %></h5>
                <% end %>
            <% end %>
           <% end %>
        </div>  
    </div>  
</div>      
      