.container
  .col-md-4.col-md-offset-4
    %h1 Change Subscription
    = form_for @subscription, :html => {:multipart => true} do |f|
      - if @subscription.errors.any?
        #error_explanation
          %h2
            = pluralize(@subscription.errors.count, "error")
            prohibited this picnic from being saved:
          %ul
            - @subscription.errors.full_messages.each do |message|
              %li= message
      = f.label :email
      = f.text_field :email, class: "form-field"
      .actions
        = f.submit "Submit", class: "perfect-red-button"
    = link_to 'Unsubscribe', subscription_path(@subscription),  method: :delete, |
      data: {confirm: 'Are you sure?' }                                          |
