<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 first-col-footer">
                <h4 class="first-col-footer-title">
                    Picnic Info
                </h4>
                <h4 class="footer-link">
                  <a href="#" class="footer-link">Why Picnics?</a><br>    
                </h4>
                <h4 class="footer-link">
                  <a href="#" class="footer-link">What should I bring?</a><br>    
                </h4>
            </div>
            <div class="col-sm-2 second-col-footer">
                <h4>
                    <a href="#">Host a Picnic</a>
                </h4>
                <h4>
                    <a href="#">About Us</a>
                </h4>
                <h4>
                    <a href="#">Photos</a>
                </h4>
                <h4>
                    <a href="#">Contact</a>
                </h4>
            </div>
            <div class="col-sm-5 subscription">
              <h4>
                  Subscribe for updates:
              </h4 class="subscription-form">
              <%= render 'shared/subscription_form' %>
              <h4>
                  Still not convinced?
              </h4>
              <p class="pitch">
                  We have tons of fun at our picinics and there are pictures 
                  to prove it. Check them out <a href="#" class="photo-link">here.</a>
              </p>
            </div>
            <div class="col-sm-3">
                
                <% if user_signed_in? %>
                <h4>
                    <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
                </h4>
                <h4>
                    <%= link_to "Settings", edit_user_password_path %>
                </h4>
                <% else %>
                <h4>
                    <%= link_to "Login", new_user_session_path %>
                </h4>
                <h4>
                    <%= link_to "Create Account", new_user_registration_path %>
                </h4>
                <% end %>
                <ul>
                    <li>
                        <%= image_tag("twitter.png") %> 
                    </li>
                    <li>
                        <%= image_tag("facebook.png") %>
                    </li>
                    <li>
                        <%= image_tag("instagram.png") %>
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</footer>