<div class="masthead">
    <div class="container">
        <div class="row">
            <h1>
                <%= link_to 'ThePicnic.nyc', root_path %>
            </h1>
        </div>
    </div>
</div>
<div id="nav" class="affix-top">
    <div class="navbar navbar-default navbar-static">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav">
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Picnics", picnics_path %></li>
                    <li><%= link_to "Photos", photo_galleries_path %></li>
                    <li><%= link_to "Contact Us", contact_path %></li>
                    <% if user_signed_in? %>
                        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                    <% else %>
                        <li><%= link_to "Login", new_user_session_path %></li>
                    <!--<li><%= link_to "Create Account", user_registration_path %></li>-->
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
